.team {
  background-color: #f5f4fa;

  .team-content {
    @include SectionPaddings;
  }
}

.team .list {
  display: flex;
  justify-content: space-between;

  .item {
    background-color: $primary-background-color;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.team h3 {
  margin: 30px 0 0 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team p {
  margin: 10px 0 0 0;

  color: $secondary-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .social-list {
  display: flex;
  margin: 16px 32px 24px;
  justify-content: space-between;

  .social-item {
    height: 44px;
  }
}

.social-link {
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  @include Transition(fill);
}
.social-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 50%;

  @include Transition(background-color);
}

.social-item:hover a,
.social-item:focus a {
  background-color: $accent-color;
}

.social-item:hover svg,
.social-item:focus svg {
  fill: $primary-background-color;
}
